{% extends "base.twig" %}

{% block content %}

	<link href="{{ base_path }}/assets/css/form-validation.css" rel="stylesheet"/>

	<div class="col-md-8 mx-auto border border-dark p-3 rounded">
		<form
			id="userForm" method="post" action="{{ route_redirect('users.store') }}">
			<!-- firstname -->
			<div class="form-group mb-3">
				<label for="firstname" class="form-label">Nome
					<span class="text-danger">*</span>
				</label>
				<input type="text" value="{{ OLD_INPUT['firstname'] }}" class="form-control border border-dark" id="firstname" name="firstname" autofocus data-rules="required|min=2|max=30|onlyLetter" placeholder="Digite seu nome" onkeyup="this.value = this.value.toUpperCase()" autocomplete="given-name" aria-required="true" spellcheck="false">
				{{ message('firstname')|raw }}
			</div>

			<!-- lastname -->
			<div class="form-group mb-3">
				<label for="lastname" class="form-label">Sobrenome
					<span class="text-danger">*</span>
				</label>
				<input type="text" value="{{ OLD_INPUT['lastname'] }}" class="form-control border border-dark" id="lastname" name="lastname" onkeyup="this.value = this.value.toUpperCase()" data-rules="required|min=2|max=30|onlyLetter" placeholder="Digite seu sobrenome" autocomplete="lastname" aria-required="true" spellcheck="false">
				{{ message('lastname')|raw }}
			</div>

			<!-- E-mail -->
			<div class="form-group mb-3">
				<label for="email" class="form-label">E-mail
					<span class="text-danger">*</span>
				</label>
				<input type="email" value="{{ OLD_INPUT['email'] }}" class="form-control border border-dark" id="email" name="email" data-rules="required|email" autocomplete="email" onkeyup="this.value = this.value.toLowerCase()" aria-required="true" inputmode="email" spellcheck="false">
				{{ message('email')|raw }}
			</div>


			<!-- User profile -->
			<div class="form-group mb-3">
				<label for="role_id" class="form-label">Perfil de Usuário
					<span class="text-danger">*</span>
				</label>
				<select class="form-select border border-dark" id="role_id" name="role_id" data-rules="required">
					<option value="">Selecione um perfil</option>
					<option value="1" {{ OLD_INPUT['role_id'] == '1' ? 'selected' : '' }}>Administrador</option>
					<option value="2" {{ OLD_INPUT['role_id'] == '2' ? 'selected' : '' }}>Usuário</option>
					<option value="3" {{ OLD_INPUT['role_id'] == '3' ? 'selected' : '' }}>Moderador</option>
					<option value="4" {{ OLD_INPUT['role_id'] == '4' ? 'selected' : '' }}>Convidado</option>
				</select>
				{{ message('role_id')|raw }}
			</div>

			<!-- Password -->
			<div class="mb-3">
				<label for="senha" class="form-label">Senha
					<span class="text-danger">*</span>
				</label>
				<div class="password-group">
					<input type="password" class="form-control border border-dark" id="password" name="password" placeholder="Digite a senha" data-rules="required|min=6|max=30" aria-required="true" spellcheck="false">
					<button type="button" class="toggle-password" id="togglePassword" aria-label="Mostrar ou ocultar senha">
						Mostrar senha
					</button>
				</div>
				{{ message('password')|raw }}
				<div class="form-text">A senha deve conter pelo menos 6 caracteres.</div>
			</div>

			<!-- Submit button -->
			<div>
				<button type="Submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</form>
	</div>

	<script src="{{ base_path }}/assets/js/form-validation,js"></script>

{% endblock %}
